{% extends 'bootstrap/base.html' %}

{% block title %}Encnotes{% endblock %}

{% block head %}
{{super()}}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{% endblock %}

{% block content %}

<h2>Encnotes - зашифрованные записки</h2>
<hr>
<b>
Сообщение зашифровано, скопируйте и отправьте ссылку.<br>
После открытия ссылки, сообщение будет уничтожено.
</b>
<br><br>
{{ link }}
<br><br>
<a href="{{ url_for('index') }}">
  <input class="btn btn-default" type="submit" value="Создать новое сообщение">
</a>

{% endblock %}